[submodule "load_cells_plugin"]
	path = load_cells_plugin
	url = https://MatteoBonetto@github.com/mmt-unitn/load_cells_plugin.git
[submodule "driver_plugin"]
	path = driver_plugin
	url = https://MatteoBonetto@github.com/mmt-unitn/driver_plugin.git
[submodule "ego_state_plugin"]
	path = ego_state_plugin
	url = https://github.com/mmt-unitn/ego_state_plugin.git
[submodule "forces_calibration_plugin"]
	path = forces_calibration_plugin
	url = https://github.com/mmt-unitn/forces_calibration_plugin.git
[submodule "portenta_plugin"]
	path = portenta_plugin
	url = https://github.com/mmt-unitn/portenta_plugin.git
[submodule "impedance_control_plugin"]
	path = impedance_control_plugin
	url = https://github.com/mmt-unitn/impedance_control_plugin.git
